.chakra-petch-medium {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
}

.chakra-petch-light {
    font-family: "Chakra Petch Light", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* full viewport height */
    margin: 0;
    /* remove default margin */
    background-color: #272525;
    /* background for viewport */
    overflow: hidden;
}


#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    max-width: 972px;
    max-height: 583px;
}

#canvasContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 5 / 3;
    max-width: 972px;
    max-height: 583px;
    margin-bottom: 10px;
}

#canvas {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

#displayScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* match canvas width */
    height: 100%;
    /* match canvas height */
    z-index: 0;
    /* ensure it appears above the canvas */
    border-radius: 8px;
}

#playButton {
    position: absolute;
    left: 72%;
    top: 62%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #5a3973;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

#gameplayButton {
    position: absolute;
    left: 72%;
    top: 72%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #5a3973;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

#storyButton {
    position: absolute;
    left: 72%;
    top: 82%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #5a3973;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

#backButton {
    display: none;
    position: absolute;
    left: 15%;
    top: 10%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #5a3973;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}


#playButton:hover {
    background-color: #502d6b;
    color: white;
}

#gameplayButton:hover {
    background-color: #502d6b;
    color: white;
}

#storyButton:hover {
    background-color: #502d6b;
    color: white;
}

#backButton:hover {
    background-color: #502d6b;
    color: white;
}

#credits {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #d7d6d6;
    background-color: rgba(25, 25, 25, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#audioPlayer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(25, 25, 25, 0.6);
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    width: 200px; /* Fixed width for the controls container */
    height: auto; /* Allow height to adjust as necessary */
}

#pauseButton {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

#pauseButton:hover {
    background-color: #555;
}

#seekBar, #volumeSlider {
    width: 120px;
    background: #444;
    height: 4px;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
}

#seekBar::-webkit-slider-thumb, #volumeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

#seekBar::-moz-range-thumb, #volumeSlider::-moz-range-thumb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

#timeDisplay {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Chakra Petch", sans-serif;
    color: #d7d6d6;
    font-size: 14px;
    white-space: nowrap; /* Prevent text from wrapping */
}

#muteButton {
    background: none;
    border: none;
    color: #ddd;
    font-size: 18px;
    cursor: pointer;
}

#muteButton:hover {
    color: #bbb;
}

#currentTime,
#duration {
    color: #bbb;
}

span {
    color: #bbb;
}

#volumeControls {
    display: flex;
    align-items: center;
    gap: 10px;
}
