.chakra-petch-medium {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
}

.chakra-petch-light {
    font-family: "Chakra Petch Light", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full viewport height */
    margin: 0; /* remove default margin */
    background-color: #272525; /* background for viewport */
}


#gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#canvasContainer {
    position: relative;
    width: 1200px;
    height: 720px;
    margin-bottom: 20px;
}

#canvas {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 8px;
}

#displayScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match canvas width */
    height: 100%; /* Match canvas height */
    z-index: 0; /* Ensure it appears above the canvas */
    border-radius: 8px;
}

#playButton {
    position: absolute;
    left: 72%;
    top: 62%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #5a3973;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 2; 
}

#playButton:hover {
    background-color: #502d6b;
    color: white;
}

#credits {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #d7d6d6;
    background-color: rgba(25, 25, 25, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

audio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    /* background-color: #5a3973;
    border-radius: 8px;
    padding: 5px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */
}